[2015-04-22 20:51] TravisEz13 opened #1 "Cannot set default gateway on xDhcpServerOption"
Reported in Slack,
"the xDhcpServerOption dsc resource, you can't set the default gateway'

[2015-04-23 16:05] TravisEz13 opened #2 "DnsServerIPAddress is mandatory, but could be provided some other way"
DnsServerIPAddress is mandatory, but could be provided some other way

[2015-04-24 16:15] TravisEz13 opened #3 "Samples in Readme and technet don't work"
https://gallery.technet.microsoft.com/scriptcenter/xDhcpServer-PowerShell-f739cf90

The reservation sample reserves an ip address outside the sample scope given.

The options sample creates options for a scope that it doesn't give a sample of how to create.

[2015-04-24 17:00] TravisEz13 opened #5 "Code to run unit tests should be accessible outside of appveyor."

[2015-04-25 20:38] vors commented on #5
Done https://github.com/PowerShell/DscResources/blob/master/CONTRIBUTING.md#run-common-tests-locally

[2015-04-25 20:38] #5 closed

[2015-04-26 23:19] TravisEz13 commented on #3
I'm working on this.

[2015-04-30 15:57] #3 closed

[2015-05-01 23:41] vors commented on #1
Closing it per #4

[2015-05-01 23:41] #1 closed

[2015-08-04 06:12] Zuldan opened #7 "Feature Request - Exclusion Range"
Hi Team, please can you kindly add the ability to add/remove DHCP exclusion ranges.

Example below; At the moment only Method 1 is available.

Say for instance Network Devices/Servers sit on 192.168.1.1 to 192.168.1.20

Method 1: Scope 192.168.1.21 -> 192.168.1.254

Method 2: Scope 192.168.1.1 -> 192.168.1.254
                 Reservation 192.168.1.1 -> 192.168.1.20

Many organizations use Method

[2015-08-13 02:59] Zuldan opened #8 "Feature Request - Authorization"
Hi Team, at the moment the xDhcpServer resource cannot create a functioning DHCP server because authorization is required for the DHCP server to start serving DHCP requests. As a work around I've created a script resource. It would be nice if xDhcpServer could authorize as well.

        Script AuthorizeDHCPServer
        {
            DependsOn   = '[Service]DHCPService'
            PsDscRunAsCre

[2015-09-05 12:52] iainbrighton commented on #8
I have working 'xDhcpServerActivation' resource for this. Just working on some Pester tests and documentation before pushing. You can find it here: https://github.com/iainbrighton/xDhcpServer if you want to give a test?

[2015-09-05 12:57] iainbrighton opened #9 "LeaseDuration is currently mandatory"
The xDhcpServerScope actually requires the LeaseDuration property to be defined or the resource execution fails, but the configuration doesn't  enforce this.
- The LeaseDuration property should be marked as 'Required' in the schema.mof
- Default the LeaseDuration to "00:08:00" (my preferred option).

[2015-09-07 08:24] PlagueHO commented on #8
Hi @iainbrighton,
your xDHCPServerActivation has a cmdlet that isn't available (or at least I can't find it anywhere): Get-ValidIPAddress. I'm not sure of the purpose of this cmdlet and not sure it is necessary.

Also, it might be worth sticking to the recommended term "Authorize" DHCP Server rather than Activate -it might get confused with Activating a scope.

And finally, most of the time I'd wa

[2015-09-08 08:05] iainbrighton commented on #8
Thanks @PlagueHO for the feedback!

1. The Get-ValidIPAddress method is in the \DSCResources/Helper.psm1 file and validates that the given IP address is an actual/valid address.
2. I'm happy to change the name of the resource. Should it be changed it to xDhcpServerAuthorization or xDhcpServerAuthorize?
3. The IPAddress and Server properties are required by the underlying AD cmdlet. I see no harm i

[2015-09-08 08:33] PlagueHO commented on #8
Hi @iainbrighton,

1. Oh wow, I searched everywhere for the Get-ValidIPAddress and never thought to look in Helper.psm1 :) Good to know!
2. I'm thinking xDHCPServerAuthorize but both make sense.
3. I think these parameters are optional for the Add-DHCPServerInDC cmdlet (see https://technet.microsoft.com/en-us/library/jj590712%28v=wps.630%29.aspx). If they aren't passed the cmdlet automatically def

[2015-09-09 04:33] Zuldan commented on #8
Hi Iain, thanks for taking time to add this feature.

2. I agree with PlagueHO, xDHCPServerAuthorize is my preference

Please be aware, there is a chance a DHCP server can be in the AD DHCP Server database by just "hostname" OR "FQDN". That is why I had to use "-like" in my script to capture all forms of the server DNS name. I'm not sure why some servers are different to others but I can tell you

[2015-09-10 00:53] PlagueHO commented on #9
IMHO I'd want to go with your preferred option (default the LeaseDuration).

[2015-09-21 07:57] PlagueHO opened #10 "DHCPv6 Support"
Are there any plans on adding IPv6 DHCP support to this resource? I think it would be useful. It seems like this may have been planned for at some stage as there are AddressFamily parameters in the resources already.

[2015-09-21 09:31] PlagueHO opened #11 "Request to add Support for DHCP Server Options"
Is there a plan to support configuring DHCP server options as opposed to scope options?

[2015-09-22 00:58] KarolKaczmarek commented on #11
@HemantMahawar

[2015-09-22 00:59] KarolKaczmarek commented on #10
@HemantMahawar

[2015-10-22 06:37] dcrreynolds commented on #9
If we add a simple if($LeaseDuration) around the get-validTimeSpan in the test it will be possible to leave LeaseDuration empty. This will not change the lease duration of any existing scopes and will default to the standard 8 days when creating a new scope. I don't think leaving a non-mandatory value blank should force the configuration to use a default value if the scope already exist.

[2015-12-16 17:07] jmarkert opened #14 "Test-DscConfiguration always returns false on DnsServerIPAddress and DnsDomain"
I'm trying to set the DNS-Domain and DNS-Server Adresse with the xDhcpServerOption resource, but the test always returns false

I'm working with Windows 10 and PS v5 ProductionPreview on Server 2012r2

[code]

here is the conf:
[code]

[2016-01-14 01:06] #8 closed

[2016-01-14 20:37] iainbrighton commented on #2
@TravisEz13 Mandatory in the MSFT_xDhcpServerOption resource?

[2016-01-14 20:42] iainbrighton commented on #14
@jmarkert @TravisEz13 I'll test and fix this along with #2 as soon as I get the chance!

[2016-01-14 20:53] TravisEz13 commented on #2
@iainbrighton, yes, updated title.

[2016-01-22 20:07] TravisEz13 commented on #9
The issue was fixed.  We still need a test to make sure the issue does not regress.

[2016-01-27 22:32] iainbrighton opened #17 "xDhcpServerAuthorization fails without IP Address"
The xDhcpServerAuthorisation resource always fails without an IP address supplied.

[2016-01-27 22:37] iainbrighton commented on #14
@jmarkert I cannot recreate this issue on WMF 4 or WMF 5. I have, however, fixed the verbose output in the PR for #2. Perhaps you can try this when @TravisEz13 merges the changes in?

[2016-01-27 22:46] iainbrighton commented on #11
@PlagueHO I'm confused by the resource naming - shouldn't it be xDhcpServerScopeOption. I'll have a look at this...

[2016-01-27 22:52] iainbrighton commented on #11
Looks like, that if we don't specify a ScopeId that will set server options. However, the ScopeID is a key...

We could use a special 'ScopeID' name/value to signify that we want to configure server options, i.e.
[code]
Thoughts @PlagueHO @KarolKaczmarek @HemantMahawar ?

[2016-01-28 00:07] PlagueHO commented on #11
My 2c:
@iainbrighton - it is definitely a real pity about the naming of this resource - it is counter intuitive - and makes it pretty difficult to create the Server level resource without confusing things even more. However, what would be consequences of correcting this name? @KarolKaczmarek - is this something that could be considered?

If the name can't be changed:
Your solution would solve the

[2016-01-28 07:24] Zuldan commented on #11
@iainbrighton and @PlagueHO. I agree, the current naming is not correct and needs to be changed. Just add note to readme.md to say there is a breaking change and be done with it ;-)

While we're on the topic of DHCP scope options... Many enterprise vendors use customised scope options to assist with auto provisioning of devices.

The example below is used to configure auto provisioning for HP Ente

[2016-01-28 21:30] #17 closed

[2016-01-29 19:26] #2 closed

[2016-01-29 23:16] iainbrighton commented on #14
@jmarkert The changes have been merged into the dev branch. Can you try this out and let me know what happens? Thx

[2016-01-29 23:19] iainbrighton commented on #9
@TravisEz13 I'll add a test or two and update to the latest test template...

[2016-01-30 00:10] cdituri commented on #7
I'm using ``xDhcpServer`` on a client project and require an exclusion range so #dibs if you don't mind ... I'll open a pull request if/when I get a working ``xDhcpServerExclusionRange`` resource completed. Cheers.

[2016-01-30 02:39] Zuldan commented on #7
@cdituri, fantastic! Looking forward to it.

[2016-01-30 07:43] cdituri commented on #7
@Zuldan - just a ping, see #19. The PR could certainly use an extra set of eyes or another tester if you're up for it. Cheers.

[2016-03-04 18:07] jmarkert commented on #14
@iainbrighton
Sorry for the delay, I'm now on module version 1.3 but it's still not working.
I found the reason: the value names are localized so on my german 2012r2 it's 'DNS-Server' an 'DNS-Domänenname'

e.g. MSFT_xDhcpServerOption.psm1 line 262:
$dnsServerIP = ($dhcpOption | Where-Object Name -like 'DNS Servers').value

I guess a solution would be to select the OptionValue by OptionId.

[2016-03-08 06:15] Zuldan opened #21 "LeaseDuration Bug - Incorrect duration set"
If I set Lease Duration to '02:00:00' then on the DHCP server that translates to

"Days: 0 Hours: 2 Minutes: 0"

If I set Lease Duration to '48:00:00' then on the DHCP server that translates to

Days: 48 Hours: 0 Minutes: 0

[2016-03-10 19:43] iainbrighton commented on #14
Yeah - that would certainly resolve the issue! I'll fix send a PR with this change. I've no idea why some settings were implemented by OptionId and some not!

[2016-03-11 13:04] iainbrighton commented on #21
@Zuldan This is an issue in the .Net timespan conversion. The timespan should specified as `Days:Hours:Minutes:Seconds'. If you're trying to set 2 days, you'll need to use '02:00:00:00'.

I'll update the documentation.

[2016-03-16 05:24] TravisEz13 commented on #21
I left a comment on PR #22 suggesting we add a function to convert a timespan to this format.  This would help.

[2016-03-16 21:15] Zuldan commented on #21
@TravisEz13, the lease should be taking in a timespan (as does the dhcp cmdlet), I'm not sure why the DHCP resource has to be a different format from the DHCP cmdlet.

[2016-03-17 03:11] TravisEz13 commented on #21
@Zuldan Let me investigate if Timespan is a natively supported CIM type.  I suspect it is not and that is why this implementation was chosen.

[2016-03-19 23:10] Zuldan commented on #21
@iainbrighton, thanks for the tip, it worked!

[2016-03-19 23:11] Zuldan commented on #21
@TravisEz13 , thank you for investigating. Interested to hear what you find.

[2016-03-29 22:13] roberteckdale commented on #11
@iainbrighton and @PlagueHO @Zuldan. I know this has already been said three times but I'm going add my comment for emphasis. I agree, the current naming is absolutely incorrect and should be changed.
@Zuldan . I too would like to see support for DHCP scope options. While useful as it is, without support for DHCP scope options a significant portion of the DHCP server configuration is simply untouc

[2016-03-29 22:50] PlagueHO commented on #11
@roberteckdale  - I'm definitely still in favor of renaming the resource. But as it would be a breaking change, is a PR with such a change going to be accepted (assuming it is made very clear in the documentation that this is a breaking change)? If we could get a feel from the MSFT team ( @KarolKaczmarek, @HemantMahawar ) whether or not this might go through then I'd say it should be made.

I myse

[2016-04-07 01:19] #9 closed

[2016-04-07 01:19] #14 closed

[2016-04-07 01:19] #21 closed

[2016-04-12 04:07] jaywryan opened #23 "Add support for Add-DhcpServerSecurityGroup"
Support for Add-DhcpServerSecurityGroup would be nice to have, so as to create the DHCP Administrators and the DHCP Users groups.  This is easily worked around with a script resource, but it would be nice to be included in this Resource Module.

[2016-04-15 20:38] KarolKaczmarek commented on #11
I think we should rename it even though it's a breaking change, we just need to document it in version history and increase the major number of the version. It's better to do it now while we are still in the experimental phase for this module. Pinged @HemantMahawar to get his feedback as well.

[2016-04-15 20:55] TravisEz13 commented on #11
@PlagueHO  @iainbrighton  Just to be clear, what is the proposed rename here?
The current resource I see mentioned is xDhcpServerOption ( I agree is mis-named,) and a suggestion of xDhcpServerScopeOption?

[2016-04-15 22:03] PlagueHO commented on #11
@TravisEz13 - good question. I actually think perhaps xDhcpOption?

This is because DHCP Options can actually be applied to Servers,Scopes,Policies and Reservations.

At the moment the resource will only apply to Scopes and Server options, but I can see it might be applied to Policies and Reservations down the track - and renaming it again would be even more of a PITA.

Although I'm not 100% happy

[2016-04-16 01:36] TravisEz13 commented on #11
@PlagueHO Another option would be to have an option sub-class on the xDhcpScope resource and just consider it to be part of the 'scope' resource, with the scope having an array of these option instances

[2016-04-18 08:22] iainbrighton commented on #11
@TravisEz13 @PlagueHO Care to elaborate on how you would see this implemented? Something like this?
[code]
The Policy and Reservation options could be added later without breaking the schema.

[2016-04-18 09:15] PlagueHO commented on #11
@iainbrighton - I hadn't thought too far ahead on this, but yes, something like that looks right - except the name ScopeOption would be different I think. A name like DHCPOptionType might be better.

However, one possible problem with this "combined" implementation is that each DHCPOptionType requires a different set of Keys. E.g. Server requires only the Option number, but Reservation requires a

[2016-07-01 12:56] Ginolard opened #26 "xDhcpServerOption: Router variable not working."
No matter what you specify (single string, string array) you get the error

The variable cannot be validated because the value System.String[] is not a valid value for the Router variable.
- CategoryInfo          : MetadataError: (:) [], CimException
- FullyQualifiedErrorId : ValidateSetFailure
- PSComputerName        : localhost

[2016-07-10 23:39] ryanspletzer opened #28 "xDhcpServerOption: Router variable not documented"
The router variable is not documented on the main README.md file as to its purpose.

[2016-07-22 09:11] gordonbondon opened #29 "Router is missing from xDhcpServerOption: Get-TargetResource"
Router property is not added to Get-TargetResource output hashtable so it is empty in Get-DscConfigration output even when it was set:
[place in code](https://github.com/PowerShell/xDhcpServer/blob/dev/DSCResources/MSFT_xDhcpServerOption/MSFT_xDhcpServerOption.psm1#L75)

[code]

[2016-07-26 20:54] gordonbondon commented on #26
I was not able to reproduce the same error. But could it be that Router is not set because it is missing from parameters in Set-DhcpServerv4OptionValue [here](https://github.com/PowerShell/xDhcpServer/blob/0d4ecaf94aaf7b5b79dd301569b0f5bbad7894e3/DSCResources/MSFT_xDhcpServerOption/MSFT_xDhcpServerOption.psm1#L390-L413) ?

[2016-07-26 22:33] gordonbondon opened #31 "ValidateResourceProperties always finds DhcpOption"
[This](https://github.com/PowerShell/xDhcpServer/blob/0d4ecaf94aaf7b5b79dd301569b0f5bbad7894e3/DSCResources/MSFT_xDhcpServerOption/MSFT_xDhcpServerOption.psm1#L244) never returns empty. According to [technet article](https://technet.microsoft.com/en-us/library/dd183665(v=ws.10).aspx) if not specified default Lease Duration for a scope will be 8 days.

Because of this *Option 51 Lease Duration* is

[2016-07-28 21:19] #29 closed

[2016-08-15 17:48] gordonbondon commented on #11
How about utilizing composite resources?

For example we can have **DHCPOption** resource that has parameters for all option types (PolicyName, ReserverdIP, ScopeID, Server if no other type is specified), and OptionID and Value (we will have to ditch Router, DNSDomainm DNSServer parameters and only use option ids). This resource will use Get-DhcpServerv4OptionDefinition to get option's Type, Multi

[2016-08-16 08:52] PlagueHO commented on #11
@gordonbondon - that could be an interesting solution. I've not really considered the possibility of using composite resources before. But seems like it should be worth looking into further. Any chance you could flesh out a bit more detail? I'd have a go myself but I've got a bunch of other DSC work to get through.

[2016-08-16 14:59] gordonbondon commented on #11
@PlagueHO I'll try to slap together something basic to see if this works. Not sure such concept wont be affected by issue with different keys needed you've mentioned above.

Other idea I was thinking about: move Get, Set, Test implementation with all possible parameters to separate helper module. Than dot sourcing it in resources and from resource functions calling them only with appropriate param

[2016-08-18 02:04] Zuldan commented on #11
Looking forward to this guys. Not being able to configure custom scope options is a pain in the ass. VOIP handsets need like 5+ scope options.

[2016-12-01 10:14] LiamFisher92 commented on #23
I've recently stumbled upon this problem while working with DSC. @kwirkykat I'm happy to do the work. Do you think this should be in it's own resource with a single "Ensure" variable, or could this go into xDhcpServerAuthorization (I already have the code written in there but I can split it out).

[2017-01-14 15:18] kenvb commented on #23
I agree, this is a necessary addition to make the resource really "no touch"

[2017-01-20 09:54] LiamFisher92 commented on #23
@kwirkykat I can't think of a reason you would need the security groups without authorizing the DHCP server. Would splitting them out not lead to potential fully set-up unauthorized DHCP servers floating around? I'd be happy to shift them around if somebody else can think of one? I'm conscious of the fact I might lose the code I've already done so I'll submit a PR for now.

[2017-01-20 22:51] kwirkykat commented on #23
@LiamFisher92 Ok. If there is no reason to split it out, then the security group creation should stay in xDhcpServerAuthorization

[2017-01-20 22:59] LiamFisher92 commented on #23
@kwirkykat I'm not really a DHCP expert (I'm a games development graduate in disguise) so I can't really give you a definitive answer. Do you know anyone who could?

[2017-01-20 23:02] kwirkykat commented on #23
@LiamFisher92 I'll ask around

[2017-06-10 13:04] marciorschneider opened #34 "Working on a dhcp Classes (vendor, user) resource"
Hi folks, just to let yo know, I need to setup dhcp vendor classes on 1500 server across 22 states. I'm working on a resource called xdhcpServerClass to accomplish this.

Right now it's already working, I just need to create some pester tests so I can create a pull request.

[2017-07-21 16:28] marciorschneider commented on #34
Hello folks, can anybody review and accept the pull request?

[2017-11-08 14:23] joes opened #37 "xDhcpServerOption Router option"
It seems that the `Router` option of  `xDhcpServerOption` must always be set? Is there any way to leave it unspecified? If I leave it unspecified I get the following error:

[code]

[2018-03-13 20:04] #34 closed

[2018-03-22 11:00] joe-carter commented on #11
Was there ever any development on this?  Specifically, the ability manage server level options, defining custom options and creating policies.

[2018-04-09 19:43] mikejwhat commented on #37
I second this

[2018-04-12 22:25] marciorschneider opened #38 "Working on xDhcpServerOptionDefinition"
Hello folks, just to let you know, I'm working on a new resource: xDhcpServerOptionDefinition.

[2018-04-19 20:06] marciorschneider commented on #11
Hello, I'm working on a xDhcpOption to manage the full DHCP options.

[2018-05-02 13:25] johlju commented on #11
@PlagueHO Will the PR #39 solve this issue?

[2018-05-02 13:31] johlju commented on #37
The Router property is set to Write in the schema, but has a [ValidateNotNullOrEmpty()] on it that generates that error message. It looks like if that is removed from the parameter the code could work without specifying `Router` parameter (line 133 could pose a problem).

https://github.com/PowerShell/xDhcpServer/blob/a748ae1965e5a757e4c8916822712b53465670cb/DSCResources/MSFT_xDhcpServerOption/MSF

[2018-05-02 13:35] johlju commented on #7
@cdituri If you want to continue your work then please reopen you issue and we can work on getting it merged together.

PR #19 was closed by @cdituri, so relabel this as 'help wanted' again.

[2018-05-02 13:36] johlju commented on #10
Labeled this as help wanted so that someone in the community can run with it.

[2018-05-03 06:32] PlagueHO commented on #11
It was actually an easy one to implement, but my problem was that the whole structure of the resources in this repo really don't align well with how DHCP Server works. I was never happy with this, which is why I didn't progress with it.

In short, MSFT_xDhcpServerOption should have been used to set Server level options - but it is used to set Scope level options which is terribly misleading. There

[2018-05-03 06:35] johlju commented on #11
I'm good with that, renaming MSFT_xDhcpServerOption -> MSFT_xDhcpServerScopeOption, and adding the two new resources.

I remove the 'in progress' label on this in the mean time until someone runs with this.

[2018-05-03 06:37] johlju commented on #11
@PlagueHO Many thanks for the detailed answer!

[2018-05-03 06:43] PlagueHO commented on #11
Good idea about removing the in progress. It might be something I could get to work on. I'd like to begin cleaning up this module in my spare time.

[2018-05-03 12:30] johlju commented on #11
And I will review if you do 😃

[2018-05-03 12:37] marciorschneider commented on #11
Hi folks, I'm working on a new resource called "MSFT_xDhcpServerOptionValue" that will implement the full "Set-DhcpServerv4OptionValue" cmdlet, so we can define any ID option in the server, scope, reservation or policy scope.

[2018-05-04 11:38] johlju commented on #11
@marciorschneider that is great! Could you post the schema.mof here?

[2018-05-09 06:04] johlju commented on #11
Thanks! A suggestions is that we make `Ensure` have the qualifier type `Write` and has the default value `Present`.

Question, the properties `UserClass`, `ScopeId`, `PolicyName` and `ReservedIp` has a description that they should not be used together with other properties, but since they are key's the properties are not able to be left out from the configuration. How should we think here?

[2018-05-09 06:09] PlagueHO commented on #11
This was the same challenge I came across when I tried to design a resource that could handle all 3 scenarios (server,scope and reserved ip). One possible solution is to do what we did in StorageDsc and use a generic id key and an idType. The idType could be server, scope or reservedip and default to scope (as this is the most common case).

[2018-05-09 06:11] PlagueHO commented on #11
Actually thinking about this further it would have other undesirable trade-offs such as for   idtype server the id would have to be empty.

[2018-05-09 21:18] marciorschneider commented on #11
It's a little tricky because the cmdlet can set the option at four different scopes (Server, DHCP scope, policy or reserved IP), so an option could be setted 4 times.

I've improved the description and corrected the OptionValue to be "Write", what you think?

[ClassVersion("1.0.0.0"), FriendlyName("xDhcpServerOptionValue")]
class MSFT_xDhcpServerOptionValue : OMI_BaseResource
{
    [key,        De

[2018-05-10 10:49] PlagueHO commented on #11
@marciorschneider , @johlju - these are all the options I started going through when I last looked at this. I really think the only one I think that has no unwanted side effects is to split it into 4 resources - with the old DhcpServerOptions one being replaced. All the other options allow invalid configurations or are counter intuitive.

[2018-05-10 18:09] marciorschneider commented on #11
Yes, I agree that is not intuitive. Splitting it on 4 resources would be something like this:

[ClassVersion("1.0.0.0"), FriendlyName("xDhcpServerOptionValue")]
class MSFT_xDhcpServerOptionValue : OMI_BaseResource
{
    [Key,        Description("Option ID, specify an integer between 1 and 255.")] uint32 OptionId;
    [Write,      Description("Option data value.")] String OptionValue[];
    [Key,

[2018-05-11 12:32] johlju commented on #11
@marciorschneider @PlagueHO To me the 4 resource proposals that @marciorschneider made in the previous comment looks promising. I agree that 4 resources is the way to go. I don't have the full knowledge to determine if this replaces xDhcpServerOption (it looks like it is hard-coded to set DNS and gateway for a scope). But if you agree that the 4 resource above makes xDhcpServerOption obsolete, the

[2018-05-12 08:06] johlju opened #40 "BREAKING CHANGE: xDhcpServerAuthorization: Should be a single instance resource"
Currently this configuration is valid per target node, the resource would generate a ping-pong behavior.

[code]

I suggest we add a new property IsSingleInstance that is the only type qualifier Key.  See [Writing a single-instance DSC resource (best practice)](https://docs.microsoft.com/en-us/powershell/dsc/singleinstance).

This would make only this a valid configuration per target node.

[code]

[2018-05-12 11:00] johlju commented on #23
I think this should be a separate resource - having the DHCP server authorized (`Ensure -eq 'Present') or not authorized (`Ensure -eq 'Absent'), is not the same as having local security groups present or absent (not sure it's easy to remove them iether once created?).

I suggest a new resource `DhcpLocalSecurityGroups` is created. The existing PR #33 could might be changed for this.

[2018-05-12 11:16] johlju opened #41 "xDhcpServer: Server Manager complains that 'Configuration required for DHCP Server'"
After setting up a DHCP server the Server Manager is still complain about configuration is needed.

![image](https://user-images.githubusercontent.com/7189721/39956677-9c672d40-55e5-11e8-98f5-02b3d4dce919.png)

This can apparently be solved by change a registry entry mentioned in the section [Notify Server Manager that post-install DHCP configuration is complete (Optional)](https://docs.microsoft.

[2018-05-14 13:27] #38 closed

[2018-06-07 14:19] 1RedOne commented on #37
For the meantime, what is this option meant to control?  Can't find it in the documents

[2018-06-07 15:28] johlju commented on #37
You are correct, it's missing there, that should be resolved too. If I'm not mistaken its used to set gateway addresses.

[2018-06-07 20:54] 1RedOne commented on #37
For those curious, the router option is a really oddly named setting which really corresponds to the default gateway for that DHCP Configuration.  Why isn't this just named 'Default Gateway'

[2018-06-10 01:11] marciorschneider commented on #11
Hello folks, I wrote the 4 resources. May you please review it, @johlju? Thanks!

[2018-06-11 09:13] johlju commented on #11
@marciorschneider Awesome! Will do!

[2018-06-11 16:49] johlju commented on #37
For information. @1RedOne updated the documentation in PR #42, but the main issue still need to be resolved.

[2018-06-14 18:10] marciorschneider opened #46 "BREAKING CHANGE: Remove the deprecated resource xDhcpServerOption"
Issue to track the removal of the deprecated resource xDhcpServerOption in the future.

[2018-06-18 15:45] #11 closed

[2018-06-22 12:21] bielawb opened #48 "Use more natural property (ScopeId) as a key for the xDhcpScope resource."
I tried to use xDhcpScope in production and while testing different scenarios I noticed that key properties for that resource are IPStartRange and IPEndRange.

In my opinion it would be far better to use ScopeId as a key property - it should also help simplifying the code and making most of the properties of the scope write-able. `Get-DhcpServerv4Scope` allows user to specify ScopeId to limit the

[2018-06-22 13:01] johlju commented on #48
If ScopeId is always unique, and two scope id's cannot be added using the same IP range, then I sounds possible to change this. Although, maybe it should be possible to add two scope id's woth the same IP range?
With the current implementation the configuration will fail on compilation if the same IP range is used, than during runtime if scope id is used as key?

Is the general consensus is that t

[2018-06-24 09:57] bielawb commented on #48
IP range is a property of scope with given ScopeId - there is no problem to change the size of existing range with Set-DhcpServerV4Scope. ScopeId is enough to reliably identify the scope, start/end expose that information too (implicitly - StartRange -band SubnetMask -> ScopeId), but filtering Get-DhcpServerV4Scope results with these properties means no way to adjust size of existing scope. Switch

[2018-06-25 07:53] johlju commented on #48
@bielawb I agree that it makes more sense using scope id as key. This will be a breaking change as you mentioned, so I label it as such.

[2018-06-28 12:35] #48 closed

[2018-12-19 19:25] aromano2 opened #55 "DhcpServerBinding: New resource proposal"
### Description
Resource to control the behavior of Dhcp server NIC bindings. By default all nics are bound to the dhcp service but this is not always the desired state.

### Proposed properties
InterfaceAlias, Ensure
### Special considerations or limitations
n/a

[2019-01-14 15:28] tagur87 opened #56 "DhcpServerOptionValue: DNS Option Fails due to no 'Force' attribute"
#### Details of the scenario you tried and the problem that is occurring
When using the DhcpServerOptionValue resource to install DNS servers for the whole DHCP server, it fails when the DNS servers are not resolvable.

Just as when installing DNS servers via the GUI, it checks for the IP addresses to be resolvable. But due to different test scenarios or other scenarios where the DNS servers would

[2019-01-14 15:50] jtague87 commented on #56
Hi @johlju & @PlagueHO !

Sorry to bug you, but I was just curious how hard it would be to implement this issue request. I would work on it, but I am not familiar enough with the setup of a DSC resource to know the best way to implement this.

If either of you have time to look at this, I would be very grateful! :)

[2019-01-15 17:59] johlju commented on #56
I think you need to do this - rough list

* Add a unit test (another It-block) to each of the Get-/Set-/Test-TargetResource functions in the file https://github.com/PowerShell/xDhcpServer/blob/dev/Tests/Unit/MSFT_DhcpServerOptionValue.Tests.ps1 that tests the new `Force` parameter. Which should fail until you add the code in the next steps. *You could also do the following two steps before this st

[2019-08-23 19:56] blackdynamite595 opened #58 "DhcpServerOptionValue requires UserClass property; DhcpServerOptionDefintion does use UserClass"
#### Details of the scenario you tried and the problem that is occurring

Trying to setup DHCP options for Skype VoIP. Using chef with dsc resources.

[code]

#### Verbose logs showing the problem
**First run:**

================================================================================
    Error executing action `run` on resource 'dsc_resource[OptionValue120]'
    ==========================

[2020-02-28 15:13] johlju opened #59 "xDhcpServer: Converting to new CI pipeline"
Work need to be done to convert this repository to use the new CI pipeline.

https://dsccommunity.org/blog/convert-a-module-for-continuous-delivery/

[2020-02-29 12:57] johlju opened #60 "xDhcpServer: Raise the CodeCoverageThreshold to 85%"
When converting the repo in issue #59 the code coverage did not measure up to the default threshold of 85 percent. Once more tests have been added (moving towards HQRM) the threshold should be raised in the `build.yaml`.

[2020-03-01 14:47] johlju opened #62 "xDhcpServer: Add descriptions in all the resource schema MOF files"
To support automatic wiki documentation and conceptual help the schema mof files should have a description for  each property.

[2020-03-01 14:49] johlju opened #63 "xDhcpServer: Add a resource README.md for all the the resources"
To support automatic wiki documentation and conceptual help a resource README.md should be added for each resource.

See example here https://github.com/dsccommunity/ComputerManagementDsc/tree/master/source/DSCResources/DSC_Computer

[2020-03-01 14:53] johlju commented on #37
The resource `xDhcpServerOption` was deprecated when the resource `DhcpScopeOptionValue` was released.  The resource `xDhcpServerOption` will be removed in the next release.

[2020-03-01 14:53] #37 closed

[2020-03-01 14:54] johlju commented on #28
The resource `xDhcpServerOption` was deprecated when the resource `DhcpScopeOptionValue` was released.  The resource `xDhcpServerOption` will be removed in the next release.

[2020-03-01 14:54] #28 closed

[2020-03-01 14:54] johlju commented on #26
The resource `xDhcpServerOption` was deprecated when the resource `DhcpScopeOptionValue` was released.  The resource `xDhcpServerOption` will be removed in the next release.

[2020-03-01 14:54] #26 closed

[2020-03-01 15:06] johlju commented on #58
I think you need to have `UserClass = ''` in the configuration because the parameter is a Key so that you are not able to add the configuration twice. 🤔

Let me know if that does not work.

[2020-03-22 08:45] #40 closed

[2020-03-22 08:45] #46 closed

[2020-03-22 08:45] #59 closed

[2020-03-22 11:38] #7 closed

[2020-03-22 11:38] #55 closed

[2020-03-24 16:06] johlju commented on #63
This was fixed in a recent PR.

[2020-03-24 16:06] #63 closed

[2020-06-17 16:23] younkinsa77 opened #65 "Configure DHCP Server DNS Dynamic Updates"
### Description
Set DHCP to update DNS Dynamically and Delete DNS Resource Records when lease expires
(e.g. 'Set-DhcpServerv4DnsSetting -Computername "<hostname>" -DynamicUpdates "Always" -DeleteDnsRRonLeaseExpiry $True')
### Proposed properties

### Special considerations or limitations

[2020-07-28 20:06] dahifi opened #66 "Set-DhcpServerSetting -ConflictDetectionAttempts 2"
Can someone tell me if it's possible to set this non-option setting? I see there's some sort of test for the set-dhcpserversetting, but I don't see that it maps to one of the DSC commands.

[2020-07-28 20:38] dahifi commented on #56
I'm running into something similar on a fresh Azure 2016 server I'm using for testing.
[code]

Starts failing for all of the DHCPScopeOptionValues:
[code]
Repeat for option 6, option 15.

[2020-07-31 23:24] PlagueHO opened #67 "Need to Fix the Badges in README.md"
The badges in the README.md aren't configured correctly:
![image](https://user-images.githubusercontent.com/7589164/89087764-7d39c480-d3e9-11ea-8358-12a4cd804d92.png)

[2020-10-13 14:32] markatdxb opened #68 "Resource 'DhcpServerExclusionRange' not found"
#### Details of the scenario you tried and the problem that is occurring
Just tried to execute DSC to create DHCP exclusions.
Other DSC resource xDhcpServerScope works just fine
#### Verbose logs showing the problem

#### Suggested solution to the issue

#### The DSC configuration that is used to reproduce the issue (as detailed as possible)
[code]

[2020-10-13 15:08] markatdxb commented on #68
Closing the issue - just installed the pre-release which fixed the problem

[2020-10-13 15:08] #68 closed

[2020-10-13 18:25] markatdxb opened #69 "DHCPFailover: New resource proposal"
### Description
Module to manage the DHCP failover relationship as per PS cmdlets
Add-DhcpServerv4Failover, Set-DhcpServerv4Failover
### Proposed properties
- create/update/remove failover relationship

Also create another module to add/update/remove additional scope to existing relationship
Add-DhcpServerv4FailoverScope
### Special considerations or limitations
Windows 2012R2 has limitation of ma

[2020-10-19 09:51] markatdxb opened #70 "DhcpServerExclusionRange: change exclusion range fails"
#### Details of the scenario you tried and the problem that is occurring
Basically i tested to create new exclusion range which works ok
Running the same configuration also works fine as expected - idempotency is ok

Problem is when I change the parameter of the exclusion range, i get fatal error of the module
Seems that module is not able to deal with this scenario

Then i thought OK lets delete

[2020-10-27 13:37] rismoney opened #71 "parallelism using ps7"
Is it possible to create dhcp reservations using this, in a parallel based approach?
If I have 1000s of reservations, I don't want the CRUD operations to be individually handled, but rather threaded.

Any advice on this would be great!

[2020-10-27 13:44] gaelcolas commented on #71
Not natively, no.
If you want to do this multithreaded, you'd have to either:
- create a custom resource for that
- use Invoke-DscResource in PowerShell 7, if that resource works there, in a custom way (calling the test and set if needed).

[2020-10-28 18:17] rismoney commented on #71
Custom resource?   I don't think that's a good idea.  If anything, we should make the existing one better.

So for the latter approach, you're saying I would potentially be able to something like-
[code]

[2020-10-28 19:34] gaelcolas commented on #71
If you do not manage a single resource but a list, you manage a set of reservations... So it would be a different DSC resource, not updating the existing one.
Hopefully it would share some of the code/functions though.
Yes, that's the theory for PS7, but I haven't tested that for this resource...

[2020-11-04 11:02] CraigTolley commented on #65
I came here to raise this exact issue.
Did you do any development on this? If not I will have a look and see if I can pull something together.

[2020-11-04 11:14] CraigTolley commented on #65
In addition to this, I think there should be an additional property:

DnsDynamicUpdateCredential

Which would map to Get-DhcpServerDnsCredential. I'm not exactly sure how to test if the correct password has been specified, but I'm sure that can be worked out.

[2020-11-30 22:04] Tim-PushD opened #72 "xDhcpServerAuthorization: Test-ConflictingResources : A conflict was detected between resources"
ISSUE DESCRIPTION (this template):
When trying to authorize multiple DHCP Servers I get an error which can be summarised as "Resources have identical key properties but there are differences in the following non-key properties: 'IPAddress;DnsName'."

    Please provide information regarding your issue under each header below.
    Write N/A under any headers that do not apply to your issue, or if t

[2020-12-01 22:26] Tim-PushD commented on #72
My fault sorry!!! I found that it was in a section that applied to multiple nodes

[2020-12-01 22:26] #72 closed

[2021-01-07 05:19] jeremysbrain opened #73 "xDhcpServerReservation: "The term 'IPAddress' is not recognized" Terminating Error"
#### Details of the scenario you tried and the problem that is occurring

- Code worked properly in v2.0.0.0.
- MOF files build without error
- Running Test-DscConfiguration the code fails with the following errors:

The term 'IPAddress' is not recognized as the name of a cmdlet, function, script file, or operable program. Check the spelling of the name, or if a path was included,
verify that the

[2021-01-25 20:24] CraigTolley opened #75 "xDhcpServerOptionDefinition: Add DefaultValue option"
### Description
The current resource does not have the option of setting a Default Value for the option definition. I think this should be added as an optional parameter.

### Proposed properties
[string]DefaultValue

### Special considerations or limitations
String is the parameter type defined in the underlying command.
https://docs.microsoft.com/en-us/powershell/module/dhcpserver/set-dhcpserver

[2021-02-04 12:50] murphypetercl commented on #73
I'm having same issue - Windows2016.

Looks like it doesn't like the -FilterScript

$reservation = Get-DhcpServerv4Reservation -ScopeID $ScopeID | Where-Object -FilterScript {
        IPAddress -eq $IPAddress
    }

Maybe change to:
$reservation = Get-DhcpServerv4Reservation -ScopeID $ScopeID | Where-Object IPAddress -eq $IPAddress

[2021-03-05 18:43] realslacker commented on #56
I think the default action on this should to ALWAYS call force. If you are asserting a value with DSC server side validation should not be going on. Configuration should be applied as defined in config, even if it's wrong.

[2021-05-25 15:18] rayterrill commented on #73
Running into this issue - has this fix made it into a release?

[2021-06-21 02:58] markatdxb opened #80 "xDhcpServerClass is not idempotent"
#### Details of the scenario you tried and the problem that is occurring

#### Verbose logs showing the problem

#### Suggested solution to the issue

#### The DSC configuration that is used to reproduce the issue (as detailed as possible)
[code]

#### The operating system the target node is running

#### Version and build of PowerShell the target node is running

#### Version of the DSC module th

[2021-06-21 03:16] markatdxb commented on #80
i might be wrong - doing more testing.  Actually resource was throwing error when Vendor class name had the same name but not exact letters cases example :   DHCP server Class name was : TESTClass, Resource would try to create TESTCLASS - this would throw error.

[2021-06-21 03:55] #80 closed

[2021-11-29 15:59] #66 closed

[2021-12-13 20:06] ZanattaMichael commented on #73
@johlju  @PlagueHO  @danielboth  @gaelcolas @regedit32 @ykuijs

[2021-12-13 21:06] gaelcolas commented on #73
Thanks for bringing it to our attention.
We're happy to help people get moving, I guess we should look into #77 ? (please help pointing me to this)

There are some ~50 repositories  that @PlagueHO @johlju and myself are admin on, so we can't see GH notifications (not even when you tag us).
If the module's maintainer (if any) does not answer, come the PS/Discord slack, DSC channel and ping us (I'm

[2022-05-04 18:20] #73 closed

[2022-05-04 18:32] #71 closed

[2022-05-06 09:10] jantari commented on #67
This was fixed in 8efacd91cc27b15e700d80281e5abcddadb4449f

[2022-05-06 16:53] johlju commented on #56
According to the documentation the Force parameter is only applicable when setting the DNS option.

[2022-05-06 17:00] johlju commented on #56
Has someone verified that adding `-Force` as per PR #78 do work since the docs (referred to in https://github.com/dsccommunity/xDhcpServer/issues/56#issuecomment-1119811582) say that it should not? 🤔

[2022-05-06 17:34] #75 closed

[2022-05-07 07:26] #67 closed

[2022-05-07 07:33] johlju opened #85 "The resource documentation in README should be removed"
The documentation in the README.md should be removed after it has been used to update the schema.mof files and the individual resource README.md (need to be created for each resource, see example of [README.md](https://github.com/dsccommunity/SqlServerDsc/blob/main/source/DSCResources/DSC_SqlProtocol/README.md)).

[2022-09-06 20:20] jangins101 commented on #56
I'm running into this same issue and would love to see the `-Force` options be implemented (even if it required specifying a **Force** property in the DSC configuration).

As the request here is for more information, I went in an tested the `Set-DhcpServerv4OptionValue` cmdlet using a couple different options to see if the -Force would have any unexpected result. I tested with options 3, 6 & 15. T